*.o
*.obj
*.a
*.so
*.dylib
*.dSYM
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*.manifest
*~
TAGS
Makefile
autom4te.cache
configure
config.h
config.h.in
config.status
figs/httpserver.pdf
http.tex
post.tex
json.tex
httplog.tex
httppath.tex
htmlhead.tex
httpheader.tex
httpsession.tex
httpdispatch.tex
httpdirindex.tex
httpopen.tex
httpclient.tex
httppwp.tex
http.html
httpserver.gif
http.pdf
httpopen.tex
httphost.tex
httpopenid.tex
httpfiles.tex
jswrite.tex
httpcors.tex
mimepack.tex
httpunixdaemon.tex
websocket.tex
httpauthenticate.tex
httpdigest.tex
hub.tex
